body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://design-language-website.netlify.app/design/language/e73f5f21ee8cce06d0ef1ad52cfd8dd3/rebus-light.svg') no-repeat center center;
  background-size: contain;
  opacity: 0.2;
  filter: blur(3px);
  /* 👈 desenfoque aplicado */
  z-index: 1;
  
  pointer-events: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}